.widget {
  height: 100%;
  padding: 0px 0px 0px 0px;
  border-top: 4px solid #CCC; }

.widgetContent {
  overflow: hidden;
  height: 100%; 
  display: flex;
  flex-direction: column;
}

.marginRight {
  margin-right: 8px; }

.body {
  padding: 0px 10px 10px 10px;
  /*h eight: calc( 100% - 43px ); */
  height: 0px;
  flex-grow: 1;

}

.heading {
  padding: 0px;
  /* height: 43px;  */
}

.title {
  cursor: move;
  padding: 10px; }

.menuButton {
  padding: 8px; }

.closeButton {
  float: left;
  padding-left: 20px !important; 
  margin-right: 10px !important; 
}
.delete {
  vertical-align: middle;
}

.open .menuButton {
  color: #CCC; }
