.queryForm > span > .childContainer {
  margin-left: 0px; }
  .queryForm > span > .childContainer > .expandedChildren > span > .formGroup > label {
    font-size: 1.2em; }

.queryForm {
  border: 1px solid #f1f1f1;
  padding: 10px; }
  .queryForm label {
    font-weight: normal; }
  .queryForm textarea {
    margin-top: 8px;
    width: 100%; }
  .queryForm input {
    width: 80%; }

.search {
  margin-right: 20px; }

.searchButtons {
  margin-top: -33px;
  float: right; }
