.tableContainer {
  height: 100%;
  overflow-x: scroll;
  overflow-y: scroll;
}

/**
 * core.css defines the color of odd-number-th lines
 *
 * .table-striped > tbody > tr:nth-of-type(odd) {
 *   background-color: #f9f9f9;
 * }
 */
.table > thead > tr:nth-last-child(even) > th {
  background-color: #f9f9f9;
}
.table > thead > tr:nth-last-child(odd) > th {
  background-color: #ffffff;
}

.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tbody > tr > td {
  border: 0;
}

.table > thead > tr > th {
  border-top: 1px solid #ddd !important;
  border-left: 1px solid #ddd !important;
}

.table > thead > tr:last-child > th {
  border-bottom: 1px solid #ddd !important;
}

.table > thead > tr > th:last-child {
  border-right: 1px solid #ddd !important;
}

.table > tbody > tr > td {
  border-left: 1px solid #ddd !important;
  border-bottom: 1px solid #ddd !important;
}

.table > tbody > tr > td:last-child {
  border-right: 1px solid #ddd !important;
}
