.loading-cover {
  background-color: #FFF;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.5; }

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.results {
  height: 100%; }
