{
  "presets": [
    // 'latest',
    // Experimental ECMAScript proposals
    // https://github.com/babel/babel/tree/master/packages/babel-preset-stage-0
    // Latest stable ECMAScript features
    // https://github.com/babel/babel/tree/master/packages/babel-preset-latest
    // webpack 2.0 can handle es6 modules natively
    // and provides dead code removal
    ["env", {
      "es2015": {
        "modules": false
      }
    }],
    // JSX, Flow
    // https://github.com/babel/babel/tree/master/packages/babel-preset-react
    "stage-0"
  ],
  "plugins": [
    "transform-runtime",
    "transform-es2015-destructuring",
    "transform-object-rest-spread",
    "transform-es2015-parameters",
    "transform-decorators-legacy",
    "transform-class-properties",
    "syntax-dynamic-import"
  ],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs", "dynamic-import-node"]
    }
  }
}
