# Node environment (production|development)
NODE_ENV=production
# Site URL (used for emails)
SITE_URL=http://127.0.0.1

#########
# PORTS #
#########

# Expose the UI on this port
UI_PORT=3000

# If UI is on a different host
#UI_HOST=127.0.0.1

# Expose the API on this port
API_PORT=8080

# If API is on a different host.
#API_HOST=127.0.0.1

# Use an additional port for unit tests
#TEST_API_PORT=808080

# Unique string used for hashing
# Recommended length, 256 bits
APP_SECRET=oasdhoasihdaslihLIlJHLFSdhdfdf8udfdf0df0df

#############
# DATABASES #
#############

#### MONGO ####

# Mongo URL (e.g. mongodb://localhost:27017/learninglockerV2)
MONGODB_PATH=mongodb://mongodb:27017/learninglocker_v2
# Mongo socket timeout in milliseconds (default=300000)
#MONGO_SOCKET_TIMEOUT_MS=
MONGO_SSL=false

# Mongo pool size (default=20)
#MONGO_CONNECTION_POOLSIZE=

# Mongo URL for tests
MONGODB_TEST_PATH=mongodb://mongodb:27017/llv2tests

# Are aggregations allowed to use the Mongo disk (true*|false)
#ALLOW_AGGREGATION_DISK_USE=

#### REDIS ####
# Redis is used for caching aggregations and can also be used as a queue driver where SQS is not available

# The URL of your Redis instance e.g. redis://127.0.0.1:6379/0
REDIS_URL=redis://redis:6379/0

# If REDIS_URL is not set, Learning Locker uses the following 3 variables.
# The address of your Redis instance e.g. 127.0.0.1
# REDIS_HOST=127.0.0.1
# The port where your redis instance is running e.g. 6379
# REDIS_PORT=6379
# Your Redis DB number e.g. 0
# REDIS_DB=0

# A prefix for each key in the Redis DB e.g. DEVELOPMENT/PROD
REDIS_PREFIX=LEARNINGLOCKER

# How many seconds are aggregation results cached (default=300)
#AGGREGATION_CACHE_SECONDS=

# Refresh aggregations when this close to expiry (default=120)
#AGGREGATION_REFRESH_AT_SECONDS=

# How long do async aggregation wait for result when query is started (default=0)
#ASYNC_AGGREGATION_WAITING_MS=1000

# How many seconds are async aggregation results cached (default=604800)
#ASYNC_AGGREGATION_CACHE_SECONDS=

# Max time async aggregations can run for in milliseconds (default=0)
# https://docs.mongodb.com/manual/reference/operator/meta/maxTimeMS/
#ASYNC_AGGREGATION_TIMEOUT_MS=

# Refresh cached async aggregations this many seconds after the last one (default=60)
#ASYNC_AGGREGATION_REFRESH_AFTER_SECONDS=

# Max time aggregations can run for in milliseconds (default=0)
# https://docs.mongodb.com/manual/reference/operator/meta/maxTimeMS/
#MAX_TIME_MS=

# Turn off fuzzy scoring on persona matching
# Set to true to make persona workers much faster at scale (default is true)
#DISABLE_PERSONA_SCORING=true

############
# SECURITY #
############

# Enable/disable frameguard
# Disabling this feature will allow your UI to be embedded (via iframe) into other hosts/domains
#ENABLE_FRAMEGUARD=true

###########
# Logging #
###########

# Minimum logging level (error|warning|info|debug|silly)
LOG_MIN_LEVEL=info
# Relative dir to store API access logs
LOG_DIR=logs
# Logging level for tests
TEST_LOG_MIN_LEVEL=debug
# Use ANSI colour in the logs
COLOR_LOGS=true

#######################
# AWS Cloudwatch logs #
# AWS credentials must be configured for Cloudwatch access
# Ref: http://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/iam-identity-based-access-control-cwl.html
#######################
# Enable cloudwatch logs (false*|true)
#WINSTON_CLOUDWATCH_ENABLED=
#WINSTON_CLOUDWATCH_LOG_GROUP_NAME=
#WINSTON_CLOUDWATCH_LOG_STREAM_NAME=
#WINSTON_CLOUDWATCH_ACCESS_KEY_ID=
#WINSTON_CLOUDWATCH_SECRET_ACCESS_KEY=
#WINSTON_CLOUDWATCH_REGION=


#########
# OAuth #
#########

# Enable Google OAuth
# These details are available from the google developer console
GOOGLE_ENABLED=false
#GOOGLE_CLIENT_ID=
#GOOGLE_CLIENT_SECRET=

########
# Mail #
########

# SMTP credentials
#SMTP_HOST=127.0.0.1
#SMTP_USER=user
#SMTP_PASS=password
#SMTP_PORT=587
#SMTP_SECURED=false
#SMTP_IGNORE_TLS=false
#SMTP_REQUIRE_TLS=false

# If your SMTP server/relay does not have SMTP AUTH,
# (i.e. treats all local connections as already authenticated),
# then set this to false, default is true you do want SMTP AUTH.
#SMTP_AUTH_REQUEST=true

#LL_FROM_NAME="Learning Locker"
#LL_FROM_EMAIL=noreply@learninglocker.net

##########
# Queues #
##########

# Queue management system (REDIS|SQS|PUBSUB|SERVICE_BUS)
QUEUE_PROVIDER=REDIS

# Namespace for queues
QUEUE_NAMESPACE=DEV

# AWS SQS credentials
#AWS_SQS_ACCESS_KEY_ID=
#AWS_SQS_SECRET_ACCESS_KEY=
#AWS_SQS_DEFAULT_REGION=

# GOOGLE CLOUD PUBSUB creentials
#PUBSUB_GOOGLE_CLOUD_KEY_FILENAME=
#PUBSUB_GOOGLE_CLOUD_PROJECT_ID=
#PUBSUB_GOOGLE_CLOUD_SUBSCRIPTION_NAME=ll

# Allowed worker queue list
# Available queue names
#   STATEMENT_QUERYBUILDERCACHE_QUEUE
#   STATEMENT_PERSON_QUEUE
#   STATEMENT_FORWARDING_QUEUE
# Separate them with comma.
#
# Not defining this variable would run all queues
# Having it empty string would run no queues
# ALLOWED_WORKER_QUEUES=STATEMENT_FORWARDING_QUEUE,STATEMENT_QUERYBUILDERCACHE_QUEUE

# Azure service bus endpoint, required if QUEUE_PROVIDER=SERVICE_BUS
# SERVICE_BUS_ENDPOINT='Endpoint=sb://[namespace].servicebus.windows.net/;SharedAccessKeyName=[keyName];SharedAccessKey=[key]'

################
# File storage #
################

# The file storage type (local*|amazon|google|azure)
FS_REPO=local

# Defaults to `storage`
#FS_SUBFOLDER=

# Local storage

# Defaults to current working directory
#FS_LOCAL_ENDPOINT=

# AWS S3 config
#FS_AWS_S3_ACCESS_KEY_ID=
#FS_AWS_S3_SECRET_ACCESS_KEY=
#FS_AWS_S3_REGION=
#FS_AWS_S3_BUCKET=

# Google Cloud Storage config
#FS_GOOGLE_CLOUD_KEY_FILENAME=
#FS_GOOGLE_CLOUD_PROJECT_ID=
#FS_GOOGLE_CLOUD_BUCKET=

# Azure Blob Storage config
#FS_AZURE_ACCOUNT=
#FS_AZURE_ACCOUNT_KEY=
#FS_AZURE_CONTAINER_NAME=

#############
# New Relic #
#############

# New Relic License key
#NEW_RELIC_LICENSE_KEY=
# APM name for API
#NEWRELIC_API_NAME=
# APM name for UI
#NEWRELIC_UI_NAME=

########
# MISC #
########
#RESTRICT_CREATE_ORGANISATION=true

#COOKIE_DOMAIN=

# Location of virus scanning binary (ClamAV - https://www.clamav.net/)
#CLAMDSCAN_BINARY=/usr/bin/clamdscan
#CLAMDSCAN_CONF=/etc/clamav/clamd.conf
#ENABLE_REACT_DEVTOOLS=false

#####################
# DELETE STATEMENTS #
#####################

# Enable statement deletion apis
# ENABLE_STATEMENT_DELETION=false

#######
# JWT #
#######

# JWT valid period
# ref: https://github.com/auth0/node-jsonwebtoken

# JWT_ACCESS_TOKEN_EXPIRATION=1h
# JWT_REFRESH_TOKEN_EXPIRATION=7d
