{
  "extends": "eslint-config-airbnb",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "jest/globals": true
  },
  "parser": "babel-eslint",
  "rules": {
    "import/prefer-default-export": 0,
    "max-len": 0,
    "linebreak-style": 0,
    "array-callback-return": 0,
    "generator-star-spacing": 0,
    "no-mixed-operators": 0,
    "id-length": 0,
    "import/default": 0,
    "import/no-duplicates": 0,
    "import/named": 0,
    "import/namespace": 0,
    "import/no-unresolved": 0,
    "import/no-named-as-default": 0,
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "no-shadow": [
      2,
      {
        "builtinGlobals": false,
        "hoist": "functions",
        "allow": [
          "err"
        ]
      }
    ],
    "comma-dangle": 0, // not sure why airbnb turned this on. gross!
    "no-underscore-dangle": 0,
    "consistent-return": 0,
    "no-param-reassign": 0,
    "global-require": 0,
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ],
    "no-console": 0,
    "no-alert": 0,
    "radix": 0,
    "no-constant-condition": 0,
    "no-const-assign": 0, // seems to be buggy, triggers on let
    "no-only-tests/no-only-tests": 2,
  },
  "plugins": [
    "import",
    "jest",
    "no-only-tests"
  ],
  "settings": {
    "import/parser": "babel-eslint",
    "import/resolve": {
      "moduleDirectory": [
        "node_modules",
        "src"
      ]
    }
  },
  "globals": {
    "__DEVELOPMENT__": true,
    "__SITE_URL__": true,
    "__CLIENT__": true,
    "__SERVER__": true,
    "__DISABLE_SSR__": true,
    "__DEVTOOLS__": true,
    "socket": true,
    "webpackIsomorphicTools": true,
    "cy": true
  }
}
