.DS_STORE
.env
.env
.env.*
.idea/
.tags
.tmp
storage/**/*.csv
*.log
*.iml
*.orig
api/logs/*
dist/
dump.rdb
node_modules
npm-debug.log*
pids/
static/logos/*.*
storage/*.*
uploads/*
webpack-assets.json
webpack-stats.json
.vagrant
Vagrantfile
bootstrap.sh
.vscode
.tmp
yarn-error.log
debug/*
!.env.test