/** Extra css overrides **/

.center {
  text-align:center;
}

.margin-top-30 {
  margin-top:30px;
}

.edit-role {
  color:#222;
  padding:0;
  margin:-4px 0 0 0;
}

.edit-role-form {
  background:#f1f1f1;
  padding:4px;
  margin:5px 0 5px 0;
  display:none;
}

/* Bootstrap overwrites
--------------------------------------------*/

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  z-index: 2;
  color: #fff;
  background-color: #7897AC;
  border-color: #7897AC;
}

.btn-primary {
  color: #fff;
  background-color: #7897AC;
  border-color: #7897AC;
}

.btn-bundle {
  margin-bottom:3px;
  width:140px;
}

.btn-locker {
  background:#944e1f;
  border:#d47833;
}

.btn-space {
  margin:0 10px 0 10px;
}

.navbar {
  background:#fff; /*#2e3b43;*/ /*#36a9e1;*/ /* #354b59; */ /* #074659; */
  margin:0;
  border:0;
  -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 2px 3px rgba(0,0,0,0.3);
  box-shadow: 0 2px 3px rgba(0,0,0,0.3);
  width:240px;
}
.navbar-nav>li>a {
  color: #FFF;
}

.navbar-nav>li>a:hover, .navbar-nav>.dropdown>a .caret:hover {
  color: #F1f1f1;
  background:transparent;
}

.navbar-nav>.dropdown>a .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}

.navbar-nav>.dropdown>a .caret, .navbar-nav>.dropdown>a:hover .caret, .navbar-nav>.dropdown>a:focus .caret {
border-top-color: #f1f1f1;
border-bottom-color: #f1f1f1;
}

.navbar-nav>.open>a, .navbar-nav>.open>a:hover, .navbar-nav>.open>a:focus {
  color: #f1f1f1;
  background-color: #7897AC;
}

.navbar-toggle {
  padding:6px 10px;
}

.navbar-toggle:hover {
  background:#7897AC;
  color:white;
}

.navbar-toggle .icon-bar {
  background-color: #ffffff;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.navbar-collapse {
  padding:0;
}

.logo {
  padding:10px 10px 10px 50px;
  display:block;
  width:240px;
  background:#222; /* #354b59; */
  height:50px;
}

.logo a {
  color:#fff;
}

a {
  color:#7897AC;
}

a:hover {
  color:#7897AC;
  text-decoration:none;
}

ul {
  padding:0;
}

li {
  list-style:none;
}

ol li {
  list-style:circle;
}

label.radio {
  font-weight:400;
}

.system-message {
  position:absolute;
  z-index:2;
  width:auto;
}

label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: normal;
  width:auto;
}

p {
  padding-bottom:5px;
}

.pagination>li.active {
  background:#7897AC;
}

.icon-padding {
  padding-right:14px;
}

.btn-addnew {
  margin:-47px 5px 0 0;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
z-index: 2;
color: #fff;
cursor: default;
background-color: #354b59;
border-color: #354b59;
}

.label-verb {
  background:#f9f9f9;
  border-radius:6px;
  border:1px solid #f1f1f1;
  padding:5px;
  color:#222;
  font-size:14px;
  font-weight:normal;
}

/* Page Wrap 
----------------------------------------------------------*/

#wrap {
  height:100%;
  margin: 0 auto;
  width: 100%;
  position:relative;
  overflow: hidden;
  padding-bottom:50px;
}

/* Sidebar 
---------------------------------------------------------*/

#sidebar {
  width: 240px;
  display: block;
  left:0;
  top:0;
  bottom:0;
  position:fixed;
  z-index: 1000;
  background: #333; /* #2e3b43; */ /*#383e4b;*/
  padding:80px 0px;
  height:100%;
}

#sidebar a {
  color:white;
}

#sidebar .divider {
  height:1px;
  background:#354b59;
  margin:10px 0 10px 0;
}

#sidebar h3 {
  color:#aaa;
  font-size:16px;
  margin:20px 0 15px 20px;
}

#sidebar .menu-icon {
  margin-right:10px;
}

#sidebar .dashboard-menu {
  margin:0 0 10px 0;
  padding:10px 10px 10px 30px;
}

#sidebar #footer {
  position:absolute;
  bottom:0px;
  left:0;
  height:56px;
  background:#222;
  width:240px;
  padding:10px 10px 10px 20px;
}

#sidebar #footer p {
  margin:0;
  color:#f1f1f1;
  margin-bottom:4px;
}

#sidebar #footer p.powered-by, #sidebar #footer p.powered-by a {
  color:#999;
}

#sidebar #footer .footer-links {
  font-size:13px;
}

#sidebar .logout {
  position:absolute;
  bottom:60px;
  left:0px;
  color:#222;
  padding:0 20px 20px 20px;
}

#sidebar .logout .dropdown-menu {
  margin-left:20px;
}

#sidebar .logout .dropdown-menu li  {
  margin-left:0;padding-left:0;
}

#sidebar .logout .dropdown-menu li  a:hover {
  color:#fff;
}

#sidebar .logout a {
  color:#222;
}

.sidebar-nav {
  margin:0;
}

.sidebar-nav li {
  padding-left:10px;
}

#sidebar .sidebar-nav li.active, #sidebar .sidebar-nav li:hover, .dashboard-menu:hover, .dashboard-menu.active,
#sidebar .sidebar-nav li a:hover {
  background:#222; /*#354b59;*/
}

#main {
  margin-left:260px;
  margin-right:20px;
}

/* User list
----------------------------------------------------------*/

.user-list {
  padding:10px 10px 10px 10px;
  margin-bottom:10px;
  border:1px solid #f9f9f9;
  background:#f9f9f9;
  min-height:160px;
}
.user-avatar {
  width:50px;
  height:auto;
  margin-right:10px;
  margin-bottom:10px;
}
.user-details {
  margin-left:65px;
}

.user-details-item {
  margin:0 0 5px 0;
}

.btn-user-list {
  width:50px;
  margin:2px 0 2px 0;
}

/* Statements 
-------------------------------------------------------*/

.statement-row {
  border-bottom:1px solid #f1f1f1;
  padding:10px 0 6px 0;
}

.statement-date {
  margin-right:10px;
}

.full-statement {
  margin:10px 0 10px 0;
}

.category {
  margin-right:10px;
}

.statement-badge .badge-image {
  margin:0 10px 10px 0;
  max-width:120px;
  max-width:120px;
}

.statement-badge .badge-contents {
  margin:0 0 10px 130px;
  padding:10px 0 0 10px;
}

.statement-badge .badge-contents h3 {
  padding-top:0;margin-top:0;
}

.statement-avatar {
  margin:-2px 10px 2px 6px;
}

/* Statement explorer
--------------------------------------------------------------*/

.explore-option {
  text-align:center;
  border:1px solid #f1f1f1;
  background:#f9f9f9;
  padding-bottom:20px;
  margin-bottom:10px;
}

.explore-option:hover, .explore-option.active {
  background:#f1f1f1;
}

.explore-option.disable {
  background:#fff;
}

.explore-option.disable:hover {
  background:#f9f9f9;
}

.explore-option span {
  font-size:50px;
  margin:20px 20px 5px 20px;
  display:block;
  color:#944e1f;
}

.explore-option span.stats {
  font-size:26px;
  color:#222;
}

.selector {
  background:#f1f1f1;
  margin:20px 0 20px 0;
  padding:10px;
}

.explorer-stats {
  margin:20px 0 20px 0;
  padding:10px;
}

.explore-option .red-icon {
  color:#b85e80;
}
.explore-option .blue-icon {
  color:#36d0ff;
}

/* Badges
--------------------------------------------------------------*/

.badge-assertion{
  display: none;
}

.badge-container{
  border: 1px solid #F1f1f1;
  width: 400px;
  margin: 5px;
  padding: 10px;
  float: left;
  min-height:140px;
}

.badge-container img{
  float: left;
  width: 90px;
}


.badge-container .badge-info{
  margin: 0 0 0 110px;
}

.badge-container .badge-title{
  margin-top: 5px;
}

/* Bordered box - could replace with Bootstrap panels 
--------------------------------------------------------------*/

.bordered {
  border:1px solid #f1f1f1;
  border-radius:4px;
  padding:10px;
  margin-bottom:20px;
  background:#fff;
}

.bordered h4 {
  background:#f9f9f9;
  padding:10px;
  margin:-10px -10px 10px -10px;
  border-bottom:1px solid #f1f1f1;
}

.bordered h4 span {
  font-size:13px;
}

.background {
  background:rgba(255,255,255,0.7);
  border-radius:4px;
  padding:10px;
  margin:40px 0 20px 0;
}

/* Various colors 
-----------------------------------------------------------------*/

.pink {
  background:#f2dede;
}

.green {
  background:#dff0d8;
}

.orange {
  background:#f89406;
}

.red {
  background:#b85e80;
}

.green {
  background:rgb(129, 189, 130);
}

.purple {
  background:#343e4b;
}

.grey {
  background:#222;
}

.blue {
  background:#36d0ff;
}

.lightgrey {
  color:#ccc;
}


/* LRS styles 
----------------------------------------------------------*/

.lrs-list-item {
  padding:5px 0 5px 0;
  border-bottom:1px solid #f1f1f1;
  margin-bottom:20px;
}

.lrs-list-item .item-img {
  font-size:40px;
}


/* Dashboard specific 
---------------------------------------------------------*/

.stats-box {
  background:#f1f1f1;
  text-align:center;
  padding:20px 0 20px 0;
  font-size:160%;
}

.stats-box span {
  color:#36d0ff;
  display:block;
  font-size:160%;
}

.statement-graph {
  margin:20px 0 20px 0;
  text-align:center;
}

.statement-graph h3 {
  font-size:200%;
}

.statement-graph span {
  color:#0b62a4; /* #36d0ff; */
}

.statement-graph p.averages {
  color:#999;
  font-size:15px;
}

.toggle {
  cursor:pointer;
}

.verb {
  margin:0 4px 0 4px;
}

/* Various charts
-------------------------------------------------------*/

.easyPieChart {
    position: relative;
    text-align:center;
}
.verb-graph {
  padding:5px 0 15px 0;
}
.verb-graph-content {
  padding-top:10px;
  margin-left:65px;
}


@media (max-width: 770px) {
  .navbar, .logo {
    width:100%;
  }
  .logo {
    padding-left:20px;
  }
  #main {
    margin-left:5px;
    margin-right:5px;
    margin-top:40px;
  }
  #sidebar {
    width: auto;
    position:relative;
    padding:0;
    height:auto;
  }
  #sidebar ul {
    margin:10px 0 10px 0;
  }
}