ol.breadcrumb
  li: a(href="#" data-toggle="tooltip" data-placement="bottom" title="Click to view reports")!= "<%= trans('statements.reporting') %>"
  li.active(data-toggle="tooltip" data-placement="bottom" title="The name of the report") <%= name %>
