.panel.panel-default
  .panel-heading
    h3.panel-title Report information
  .panel-body
    input#name.form-control(placeholder="Report's name" value!="<%= name %>")
    input#description.form-control(placeholder="Report's description" value!="<%= description %>")