.panel.panel-default
  .panel-heading
    h3.panel-title!= "<%= trans('reporting.headings.info') %>"
  .panel-body
    input#name.form-control(placeholder!= "<%= trans('reporting.placeholders.name') %>" value!="<%= name %>" data-toggle="tooltip" data-placement="bottom" title="Enter a name for the report")
    input#description.form-control(placeholder!= "<%= trans('reporting.placeholders.desc') %>" value!="<%= description %>" data-toggle="tooltip" data-placement="bottom" title="Enter a description of the report")
