mixin tab(id, icon, tip, active)
  .col-xs-6.col-sm-2(data-toggle="tooltip" data-placement="bottom" title=tip)
    a(href='#' + id, data-toggle='tab')
      .explore-option(class=active ? ['active'] : [])
        span
          i.icon(class=['icon-' + icon])
        != "<%= trans('reporting.tabs." + id + "') %>"
        

.row
  +tab('actor', 'user', 'Filters by learners (i.e. "Bob").', true)
  +tab('verb', 'star', 'Filters by verbs (i.e. "completed").')
  +tab('activity', 'question', 'Filters by objects (like a maths quiz).')
  +tab('context', 'sitemap', 'Filters by the context (for example Bob completed maths quiz on "www.example.com").')
  +tab('result', 'bar-chart', 'Filters by score, success, or completion.')
  +tab('dates', 'calendar', 'Filters by when activities were done.')