/*.container {
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
}
*/
.content {
  /*position: absolute;*/

  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.container {
  position: relative;
  /*margin-left: -15px;
  margin-right: -15px;*/
}

.card {
  padding: 15px;
  margin: 15px;
  min-width: 220px;
}

.card:first-child {
  margin-left: 2px;
}

.card:last-child {
  margin-right: 2px;  
}
