.card {
  display: flex;
  align-content: center;
  flex-direction: column;
  width: 180px;
  padding: 8px;
}

.card:hover {
  text-decoration: none;
  cursor: pointer;
}

.card:active {
  text-decoration: none;
}

.card img {
  height: 100px;
}

.card p {
  text-align: center;
}
