.table {
  width: 100%;
}

.buttons {
  text-align: right;
  margin-bottom: 8px;
}

.td {
  padding: 8px;
  border: solid rgb(238, 238, 238) 1px;
  width: 35%;
}

.actions {
  text-align: right;
  width: 30%
}
