.editor {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.sharingCard {
  padding: 10px;
}

.textField {
  max-width: 500px;
  width: 100%; 
}

.titleField {
  padding: 0 0 0 15px;
  font-weight: 300;
  color: #929292;
  
  font-family: Arial, sans-serif;
}

.editWrapper {
  display: flex;
}

.editWrapper :global(.btn) {
  margin-bottom: auto;
}