.cardList {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

/* override styles for <a> tag defined in core.css*/
.cardA {
  color: #333;
  text-decoration: none;
  outline: none;
}
.cardA:active,
.cardA:hover,
.cardA:focus {
  color: #333;
  text-decoration: none;
  outline: none;
}

.card {
  width: 210px;
  height: 240px;
  padding: 16px;
  margin: 16px 12px;
}

.card:hover,
.card:active {
  text-decoration: none;
}

.cardIcon {
  width: 80px;
  height: 80px;
}

.cardTitle {
  font-size: 16px;
  font-weight: 700;
}
