ul#fields li > input {
	width: 39%;
	display: inline;
}

ul#fields li > .twitter-typeahead {
	width: 39%;
	vertical-align: middle;
}

ul#fields li .tt-dropdown-menu {
	margin-top: -5px;
}

ul#fields {
	list-style-type: none;
	padding-left: 0;
}

input[type='text'] {
	margin-bottom: 5px;
}

input#typeahead-value {
  width: 100%;
}

@-webkit-keyframes fadeIt {
  0%   { background-color: inherit; }
  50%  { background-color: #9AE472; }
  100% { background-color: inherit; }
}
@-moz-keyframes fadeIt {
  0%   { background-color: inherit; }
  50%  { background-color: #9AE472; }
  100% { background-color: inherit; }
}
@-o-keyframes fadeIt {
  0%   { background-color: inherit; }
  50%  { background-color: #9AE472; }
  100% { background-color: inherit; }
}
@keyframes fadeIt {
  0%   { background-color: inherit; }
  50%  { background-color: #9AE472; }
  100% { background-color: inherit; }
}

.flash {
  background-image:none !important;
  -webkit-animation: fadeIt 1.5s ease-in-out;
  -moz-animation: fadeIt 1.5s ease-in-out;
  -o-animation: fadeIt 1.5s ease-in-out;
  animation: fadeIt 1.5s ease-in-out;
}
