ul#fields li > input {
	width: 39%;
	display: inline;
}

ul#fields li > .twitter-typeahead {
	width: 39%;
	vertical-align: middle;
}

ul#fields li .tt-dropdown-menu {
	margin-top: -5px;
}

ul#fields {
	list-style-type: none;
	padding-left: 0;
}

input[type='text'] {
	margin-bottom: 5px;
}

input#typeahead-value {
  width: 100%;
}
