ul#fields li > input {
	width: 39%;
	display: inline;
}

ul#fields li > .twitter-typeahead {
	width: 39%;
	vertical-align: middle;
}

ul#fields li .tt-dropdown-menu {
	margin-top: -5px;
}

ul#fields {
	list-style-type: none;
	padding-left: 0;
}

input[type='text'] {
	margin-bottom: 5px;
}

input#typeahead-value {
  width: 100%;
}

@-webkit-keyframes demo {
  0% {
    background-color: Yellow;
    opacity:1;
  }
  22% {
    background-color: Yellow;
  }
  77% {
    background-color: Yellow;
  }
  100% {
    background-color: #FFFFFF;
  }
}

.flash {
  -webkit-animation-name: demo;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: demo;
  -moz-animation-duration: 1000ms;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: linear;
}