body {
    background:#7897AC;
}

li {
  list-style:none;
}
.system-message {
  background:#fff;
}

.logo {
  margin-top:60px;
  text-align:center;
  font-size:30px;
  color:#fff;
}

.wrapper {
    background:rgba(0, 0, 0, 0.6); /*#333;*/ 
    margin-top:20px;
    padding:20px 20px 30px 20px;
    color:#fff;
}

.wrapper p, h1, a {
    color:#fff;
}

.wrapper h1 {
    font-size:22px;
    margin-bottom:20px;
    padding-left:0;
}

.wrapper .logo {
    margin-bottom: 40px;
    position: relative;
    left: -2px; 
}

.login-options {
  border-top:1px solid #7897AC;
  margin-top:20px;
  padding:20px 0 0 0;
  text-align:center;
}

.btn-login-options {
  width:140px;
}
    
.links {
  padding:5px 0 5px 0;
  font-size:13px;
  margin-top:20px;
  text-align:center;
  color:#f1f1f1;
}

.footer {
  margin-top:40px;
}

.footer p {
  margin-top:20px;
}

.footer-links {
  background:rgba(0,0,0,0.2);
  padding:4px;
  border-radius:6px;
  font-size:13px;
  margin:20px 0 10px 0;
}

.footer-links a {
  color:#7897AC;
  margin-right:10px;
}

.btn-locker {
  background:#944e1f;
  border:#d47833;
  color:#fff;
}