.visualisation-icon {
  text-align: center;
  vertical-align: top;
  display: inline-block;
  margin: 3px;
  width: 109px; }
  .visualisation-icon h5 {
    text-align: center;
    padding: 0px 4px;
    font-size: 12px;
    font-weight: bold;
    margin-top: 0; }
  .visualisation-icon.active {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3); }
  .visualisation-icon img {
    width: 100%; }
