.heading {
  display: flex;
  align-items: baseline; }
  .heading .buttons {
    margin-left: auto; }
  .heading i {
    font-size: 24px;
    color: #929292; }

.liveWebsocketSwitch{
  display: inline-block;
  margin-bottom: 3px;
  margin-right: 16px
}