.chart {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.chart svg g text {
  font-size: 12px; }

.customTooltip {
  width: 150px;
  margin: 0;
  line-height: 15px;
  border: 2px solid #f5f5f5;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  font-size: 12px; }

.customTooltipLabel {
  max-width: 70%;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: bottom;
}

.label {
  margin: 1;
  color: #ED7030;
  font-weight: 700;
  word-break: break-all;
}

.xAxis {
  display: inline-block;
  white-space: nowrap; }

.xAxisLabel {
  text-align: right;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 0;
  position: static;
  margin-right: 12px;
}

.yAxisLabel {
  margin-bottom: 12px;
  flex-shrink: 0;
  writing-mode: vertical-rl;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transform: rotate(-180deg);
  max-width: 20px; /* otherwise this element pushes chart of the page in firefox, (dispite the element naturally being 20px) */
}

.yAxis {
  display: inline-block;
  }

.value {
  margin: 5;
  color: #000;
  font-weight: 300; }

.desc {
  margin: 0;
  color: #999; }

.chartWrapper {
  flex-grow: 1;
  flex-shrink: 0;
}

.barContainer {
  display: flex;
  flex-grow: 1;
}
