.frozenCells {
  background-color: #fff;
  overflow: hidden !important;
}

.frozenCells,
.cells {
  width: 100%;
}

.frozenCell {
  font-weight: bold;
}

.frozenCell
.cell {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  text-align: left;
  padding: 0 1em 0 0;
  white-space: nowrap;
  overflow: hidden;
}
