<!-- Breadcrumbs. -->
<ol class="breadcrumb">
  <li class="active"><%= trans('exporting.title') %></li>
</ol>

<!-- Exports. -->
<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= trans('exporting.fields.name') %></th>
      <th><%= trans('exporting.fields.description') %></th>
      <th><%= trans('exporting.fields.created') %></th>
      <th class="text-center"><%= trans('exporting.actions.edit') %></th>
      <th class="text-center"><%= trans('exporting.actions.delete') %></th>
    </tr>
  </thead>
  <tbody id="exports">

  </tbody>
</table>

<!-- Buttons. -->
<a id="addExport" class="btn btn-success" href="#new">
  <i class="icon icon-plus"></i> <%= trans('exporting.actions.add.export') %>
</a>
