<!-- Breadcrumbs. -->
<ol class="breadcrumb">
  <li><a href="#"><%= trans('exporting.title') %></a></li>
  <li class="active"><%= name || trans('exporting.unknown') %></li>
</ol>

<!-- Buttons. -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= trans('exporting.info') %></h3>
  </div>
  <div id="exportInfo" class="panel-body">
  	<input id="name" type="text" class="form-control" placeholder="<%= trans('exporting.placeholders.name') %>" value="<%= name %>">
  	<input id="description" type="text" class="form-control" placeholder="<%= trans('exporting.placeholders.description') %>" value="<%= description %>">

  	<div id="save" class="btn btn-primary">
  	  <i class="icon icon-save"></i> <%= trans('exporting.actions.save') %>
  	</div>
  	<div id="download" class="btn-group">
  	  <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
  	    <i class="icon icon-download"></i> <%= trans('exporting.actions.download') %> <span class="caret"></span>
  	  </button>
  	  <ul class="dropdown-menu" role="menu">
  	    <li id='json'><a>JSON</a></li>
  	    <li id='csv'><a>CSV</a></li>
  	  </ul>
  	</div>
  </div>
</div>

