.outerCounter {
  height: 100%;
}

.counter {
  height: 100%;
  text-align: center;
  overflow: hidden;
}

.contextLabel {
  color: #D35D2B;
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: -10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.benchmark {
  text-align: center;
  justify-content: center;
  display: flex;
  font-weight: '300';
}
